.container-fluid{
    margin-top: 10rem;
    background-color: white;
    
    padding: 1rem;
    width: 25rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.3); 
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.3);
}
@media (min-width: 768px){
    .container-fluid{
        width: 30rem;
    }
}
@media (max-width: 360px){
    .container-fluid{
        width: 20rem;
    }
}
header{
    text-align: center;
    font-size: 3rem;
}
p{
    text-align: center;
    color: gray;
}
.input-group-text{
    width: 2.5rem;   
}
.fas, .fa-envelope{
    color: gray;    
}

.btn{
    color: white;
    font-weight: bold;
}
