<div class="container-fluid animate__animated animate__fadeInRight">
    <form [formGroup]="recoverPass" (ngSubmit)="recover()">
        <header>
            <strong> Recover Password </strong>
        </header>
        <p> We'll send you a link to recover your password. </p>

        <!-- EMAIL RECOVER -->
        <div class="mb-3">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"> <i class="far fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 mt-1 pb-2">
            <!-- BUTTON -->
            <button type="submit" class="btn btn-secondary" [disabled]="recoverPass.invalid">
              Recover
            </button>
          </div>

    </form>
</div>