<div class="container-fluid animate__animated animate__fadeInLeft">
    <form [formGroup]="password" (ngSubmit)="Register()">
        <header>
            <strong> Create Password </strong>
        </header>
        <p> Create a password that you won't forget. </p>

        <!-- PASSWORD -->
        <div class="mb-3">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    [class.is-invalid]="validationError('password')" [class.is-valid]="validation('password')">
                </div>
                <ng-container>
                    <small *ngIf="controlError('password', 'required')" class="form-text text-danger">
                      Password is required.
                    </small>
                    <small *ngIf="controlError('password', 'pattern')" class="form-text text-warning">
                        Your password must contain an uppercase, lowercase and a number.
                      </small>
                  </ng-container>
            </div>
        </div>

        <!-- CONFIRM PASSWORD -->
        <div class="mb-3">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="password2">
                </div>
               
            </div>
        </div>
       
      

        <div class="d-grid gap-2 mt-1 pb-2">
            <!-- BUTTON -->
            <button type="submit" class="btn btn-secondary" [disabled]="password.invalid">
              Register
            </button>
          </div>


        </form>
</div>